[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[start]
cmd = "streamlit run app/dashboards/app_streamlit.py --server.port=$PORT --server.address=0.0.0.0"
